

<div>
  <button {{action 'showComponent'}}> Show PDF Viewer </button><br>
  <button {{action 'hideComponent'}}> Hide PDF Viewer </button><br>
</div>

{{#if show_Component}}
  {{pdf-viewer pdf='/avstream?rid=49kc552c18f1a840e4546bd0905337a0388ed'}} {{!--No I18N--}}
{{else}}
  Component destroyed
{{/if}}
{{outlet}}
