

<div>
  <button {{action 'showComponent'}}> Show PDF Viewer </button><br>
  <button {{action 'hideComponent'}}> Hide PDF Viewer </button><br>
</div>

{{#if show_Component}}
  {{pdf-viewer pdf='/avstream?rid=45g19bd91bd6a9b40436e91cb046ce6165a96'}} {{!--No I18N--}}
{{else}}
  Component destroyed
{{/if}}
{{outlet}}
